
body {margin:0;}
h2 {
  font-family: monospace;
  color: #EBE27F;
}
#navbar ul{
        display: none;
        background-color: #EBE27F;
        position: absolute;
        top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 10px;
        padding: 10px;
        list-style-type: none;
      }
      #navbar {
        height: 25px;
        background-color: #96D9EB;
        padding-left: 600px;
        min-width: 470px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #000000;
        text-decoration: none;
        text-align: center;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #9E9746; }
      #navbar ul li:hover { background-color: #9E9746; }
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 265#background{
	background-color: rgba(242, 0, 255, 1);
}
#shapa{	
    border: 1px solid black;
	background: rgba(255,0,0,0.3);
	text-align:left;
    font: normal small-caps 52px/54px fantasy;
	height:32mm;
	max-height:200px;
	line-height:100px;
}
* {
margin:0;
padding:0;
outline:none
}
nav {
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}
#main{
    border: 1px solid black;
    background: rgba(0,0,255,0.3);
    text-align:left;
    font: bold italic 110% serif;
}
#list{	
    border: 1px solid black;
    margin: 0 auto;
	background: rgba(255, 128, 128, 0.5);
   	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 150 pt;
}
#forma{	
    border: 1px solid black;
    margin: 0 auto;
	background: rgba(255, 126, 0, 0.40);
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 150 pt;
}
#foot{
 border: 1px solid black;
 background: rgba(255, 126, 0, 0.40);
 text-align:left;
 font: normal small-caps 52px/54px fantasy;
 height:32mm;line-height:100px;
 max-height:200px;   
}
/*таблица*/
  .lux { 
    width: 300px;
    border: 1px solid #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
	text-align:center;
	margin: auto;
   }
   .lux th {
    background: rgba(144, 32, 230, 1);
    color: white; 
   }
   .lux td { 
    border-bottom: 1px solid black;
   }
   .lux td, .lux th {
    padding: 4px;
   }
   .caption {
     caption-side: top;
     text-align: center;
     padding: 10px 0; 
     font-size: 14px;
}
   tr:nth-child(even) {
    background: rgba(255, 0, 200, 1);
   } 
   tr:nth-child(odd) {
    background: rgba(244, 117, 255, 1);
   }
/* Flex box зона */  
.flex {
  display: flex;
  flex-direction:column; 
}
.list,.table,.forma{
	margin:20px;
}
.list{
  order: 0;
}
.table {
  order: 2;
}
.forma {
  order: 1;
}
.flexer {
  display: flex;
  flex-direction:row; 
  margin:0 auto;
}
@media (min-width:  991.98px){
#list{	
    max-width:600px;
}
#main{
    max-width:400px;
	text-align:center;
    margin: 0 auto;
    margin-top:15px;
    padding:10px;
    word-spacing: 30px;
	word-wrap:inherit;
} 
#forma{
  max-width:600px;
}

nav {
	flex-direction: row;
}
.flexer {
  display: flex;
  flex-direction:column; 
  margin:0 auto;

}
.table {
  order: 1;
}
.forma{
  order: 2;
}
}


